


  #chapter-div{
    padding-top:5%;
    padding-bottom:5%;
    text-align: left;
  }

   #section-1{
          background: #00000000;
   }

.p-4 p{
    text-align: justify;
}
.gallery:hover {
    -webkit-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
  }
  
   #section-2{
       background: darkgray;
       
   }
  
  
  
   #main-section{
      background: #004c98;
       
      padding-top: 3 rem;   
   }
  
   .jumbo{
       background-color: #00000000;
       background-repeat: no-repeat;
      
   }
  
  .chapter-name{
  
      font-size: 3rem;
      font-weight:bold;
     
  
  }
  .parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}
  


  .menu{
      background:#004c98;
  
  
  }
  .uc-text{
      text-align: center;
   color:#f1f8ff;
  }
  
  .menu.a{
  
      font-style: None;
  
  
  }
  
  
  
  .menu:hover{
      background-color: green;
  
  
  }
  
  
  .customnav{
      
      width: 100%;
      position: fixed;
      
    
  
  }
  
  .menu-title{
      font-size: 2rem;
      font-weight:bold;
  }
  
  
  
  
  
  
  
  @media (min-width: 576px) {
    
    

  
  menu-title{
      font-size: 3rem;
      font-weight: normal;
  
  }
  
  .chapter-name{
  
      font-size: 5rem;
      font-weight:normal;
  
  }
  
  }
  
  
  
  @media (min-width: 768px) {
    
    
    #main-carousel{
        height:50%;
    }
    

  
  
  
  menu-title{
      font-size: 3rem;
      font-weight: normal;
  
  }
  }
  
  @media screen and (min-width: 992px) { 
  
  
  
  menu-title{
      font-size: 4rem;
      font-weight: normal;
  
  }
  
  }
  
  
  
  
  @media screen and (min-width: 1200px) {
   .centered{
      padding-left: 10%;
      padding-right: 10%;
  
   }
   #chapter-div{
    padding-top:5%;
    padding-bottom:5%;
    text-align: center;
  }
  
  
   .userinfo{
       width: 100%;
   }
  
  
  
  .menu-title{
      font-size: 4rem;
      font-weight: normal;
   
  }
  
  
  }
  
  