<form id="generic-form" method="post">
            {% csrf_token %}
            <h5 id="message" class="text-success">{{message}}</h5>
            {% for i in studentForm %}
                <div  class="form-group field-group">
                    <label>{{i.label}}</label>
                    {{i.errors}}
                    
                    <small id="emailHelp" class="form-text text-muted">{{i.help_text}}</small>
                    {{i}}
                </div>
            {% endfor %}
</form>