{% extends 'ManagementSystem/dash-base.html' %} {% block mainContent %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Student Management</li>
</ol>
<hr class="my-4" style="background-color: white">

<button type="button" id='add-student-btn' class="btn btn-success" data-toggle="modal" data-target="#add-student-modal">Add Student</button>
<button type="submit" class='btn btn-success text-white btn-danger float-right' data-toggle="modal" data-target="#exampleModal">Delete Selected</button>
<hr class="my-4" style="background-color: white">
<form method="post" class="form-inline">
    {% csrf_token%}
    <span>
        Filters {{filter.class_selector}} {{filter.batch_selector}}
    </span>
</form>
<hr class="my-4" style="background-color: white"> {% include 'ManagementSystem/student-table.html'%}
<!--Delete Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                On delete all enrollments to this class will also be deleted, Do you really want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--End Delete Modal-->

<!--Add Student Modal-->
<div class="modal fade bd-example-modal-lg" id="add-student-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="add-student-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-student-modal-label">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {% include 'ManagementSystem/student-form.html' %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                <button id='add-student-form-btn' data-href="{% url 'add_student' %}" type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<!--End Add Student Modal-->

<!--view Student Modal-->
<div class="modal fade bd-example-modal-lg" id="view-student-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="view-student-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="view-student-modal-label">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Add Student Modal-->
<script>
    /*
    var validationStyles = function () {
        console.log($('#message').html() != '');
        if ($('#message').html() != '') {
            $(".field-group .field").removeClass("is-invalid is-valid");
        }
        else {
            var fields = $(".field-group .field")
            var count = 0;
            while (count < fields.length) {
                if ($(fields[count]).siblings(".errorlist")[0]) {
                    $(fields[count]).addClass("is-invalid");
                }
                else {
                    $(fields[count]).addClass("is-valid");
                }
                count++;
            }
        }
    }
    */
    /*
    var bindWithForm = function () {
        /**

            Hides errors of clicked field. Field must have class 'field' and must be wrapped with a container having class 'field-group'

        **//*
        $(".field-group .field").change(function (event) {
            $($(this).siblings(".errorlist")[0]).remove();
            $(this).removeClass("is-invalid is-valid");
        });
    }
    */
    var bindWithEnrolBtn = function(){
        $('#enrol-btn').click(function(event){
            event.preventDefault();
           enrolUrl = $(this).attr('data-enrolUrl');
           fields = $('#enrolment-form .field');
           var i = 0;
           dict = {};
           console.log("Enrolment!");
           console.log(enrolUrl);
           console.log(fields);
           while( i < fields.length ){
                dict[fields[i].name] = fields[i].value;   
                i++;
           }
           dict['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
           console.log(dict);
           $.post(enrolUrl,dict,function(data){
               console.log(data);
                $('#enroled-table').html(data);
                bindWithEnrolBtn();
            
                
           }); 
        });
    }


    var bindWithUpdateBtn = function(){
        $('#update-student-btn').click(function(event){
            event.preventDefault();
            fields = $('#view-student-modal .field');
            console.log(fields);
            var dict = {};
            i = 0;
            while (i < fields.length) {
                dict[fields[i].name] = fields[i].value;
                i++;
            }
            dict['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
            console.log(dict);
            console.log($(this).attr("data-href"));
            $.post($(this).attr("data-href"), dict, function (data) {
                $('#view-student-modal #generic-form').html(data);
                updateStudentTable();
            
            });
            
        });
    }

    var bindWithStudentsLinks = function () {
        /**

          Binds With Student Links....

        **/
        $('.student-link').click(function (event) {
            event.preventDefault();
            console.log($(this).attr('data-DetailView'))
            updateUrl = $(this).attr('data-ViewStudent')
            console.log(updateUrl)
            $.get($(this).attr('data-DetailView'), function (data) {
                $('#view-student-modal .modal-body').html(data);
                $('#update-student-btn').attr('data-href',updateUrl);
                bindWithEnrolBtn();
                bindWithUpdateBtn();
            });
        });
    }

    
    
    $('#save').click(function (event) {
        var children = $('.check');
        console.log(children);
        var count = 0;
        var name = " ";
        var dict = {};
        while (count < children.length) {
            name = children[count].id;
            dict[name] = children[count].checked;
            count++;
            name = ' ';

        }
        dict['page'] = $('#current-page').attr('data-page');

        if (dict.length != 0) {
            console.log(dict);
            dict['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
            console.log(dict);

            $.post("{% url 'delete_student' %}", dict, function (data) {
                console.log(data);
                $('#student-table').html(data);
                bindWithLinks();
            });
        }

    });

    var updateStudentTable = function () {
        /*
          Updates student-table
        */
        dict = {};
        dict['page'] = $('#current-page').attr('data-page');
        dict['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
        $.post("{% url 'update_student_table' %}",dict, function (data) {
            $("#student-table").html(data);
            bindWithLinks();
        });
    }


    $('#add-student-form-btn').click(function (event) {
        event.preventDefault();
        fields = $('#add-student-modal .field');
        console.log(fields);
        var dict = {};
        i = 0;
        while (i < fields.length) {
            dict[fields[i].name] = fields[i].value;
            i++;
        }
        dict['page'] = $('#current-page').attr('data-page');
        dict['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
        console.log(dict);
        $.post($(this).attr("data-href"), dict, function (data) {
            $('#add-student-modal #generic-form').html(data);
            updateStudentTable();
           
        });
    });

    $('#generic-form').click(function (event) {
        $('#message').html('');
    });


    bindWithStudentsLinks();
 

    

</script> 
{% endblock %}