{% extends 'ManagementSystem/header.html' %}

{% block content %}
    <hr class="my-4" style="background-color: white">
    <p class="lead text-white" style="text-align:center">text goes here</p>
	<hr class="my-4" style="background-color: white">

	<div class="card-deck">
		<!--Class Management-->
			 	<div class="card text-white  menu" >
			 		<a href="{% url 'class_managemnet' %}" class="text-white">
			 			<div class="card-body menu">
			 			<div class="card-title menu-title"> Class Management</div>
			 			<div class="card-text lead"> You can Add Edit or Delete a class here. </div>
			 		</div>
			 		</a>
			 	</div>

		<!-- Students Mana-->
		 	<div class="card text-white  menu">
		 		<a href="{% url 'student_managemnet' %}"  class="text-white">
		 		<div class="card-body ">
		 			<div class="card-title  menu-title"> Students Management</div>
		 			<div class="card-text lead"> You can add edit or delete a student here.</div>
		 		</div>
		 	</a>
			</div>
		 

	 	
		 	<div class="card text-white menu">
		 		<a href="#" class="text-white">
		 		<div class="card-body ">
		 			<div class="card-title  menu-title"> Create Exame</div>
		 			<div class="card-text lead"> You can create an exame here.</div>
		 		</div>
		 	</a>
			</div>




 	</div>
{% endblock %}

